<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>MoodWave</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">MoodWave</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 justify-content-lg-center col-lg-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#abt">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#feat">Features</a>
            </li>
          </ul>
          <div class="col-md-3 text-end">

            <form action="/login" method="POST">
            <button type="submit" class="btn btn-outline-primary me-2" >Login</button>
            

            <button type="button" class="btn btn-primary">Sign-up</button>
          </form>
          </div>
        </div>
      </div>
    </nav>
  <!-- navbar -->
 <div class="mainl gradient-background align-middle">
  <div class="title">
    <h1 class="display-1 text-center"  data-aos="slide-left" data-aos-delay="70">MoodWave</h1>
        <p class="h3 text-center lead"  data-aos="slide-left" data-aos-delay="100">Music in Harmony with You</p1>
          <div>

          </div>
  </div>
 </div>   

  <div  class="about" id="abt"   data-aos="fade-down" data-aos-delay="70"><a href=""></a>
    <div class="px-4 py-5 my-5 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="display-5 fw-bold text-body-emphasis">About Us</h1>
      <div class="col-lg-6 mx-auto" >
        <p class="lead mb-4"   data-aos="fade-down">Our project is driven by a fundamental motivation: to bridge the gap between music recommendation systems and human emotions. While current systems excel at analyzing various factors like genre, artist, and popularity, they often overlook a crucial element—the emotional connection that music evokes in us. We believe that emotions are at the heart of music enjoyment and should be at the forefront of any recommendation system</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
        </div>
      </div>
    </div>
  </div>

  <div  class="features" id="feat">
    <a href="feat"></a>
    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 pt-5 border-bottom"    data-aos="fade-down">Features Offered By MoodWave</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" >
      <div class="feature col" data-aos="fade-right" data-aos-delay="50">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bg-#D2E0FB" width="1em" height="1em"  fill="black" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
          </svg>
          <!-- <svg class="bi" width="1em" height="1em"><use src="../public/circle-heat-svgrepo-com.svg"></use></svg> -->
        </div>
        <h3 class="fs-2 text-body-emphasis">Tell Us</h3>
        <p>Got a lot on your mind? Just tell us how you feel and our state of the art NLP models will predict your mood and recommend the perfect songs to lighten up your Mood!</p>
        <form action="/textinp" method="POST">
          <button type="submit" class="btn btn-outline-primary me-2" >Try it Now!!</button>
        </form>
        <!-- <a href="#" class="icon-link">
          Try it Now!!
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a> -->
      </div>


      <div class="feature col" data-aos="fade-right" data-aos-delay="70">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi" width="1em" height="1em" viewBox="0 0 16 16">
            <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
            <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
          </svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Face Recognition</h3>
        <p>Cant describe your feelings in words? Let us help You with Our Facial Recognition model which is trained over thousands of parameters to accurately predict what you are feeling.</p>
        <form action="/imginp" method="POST">
          <button type="submit" class="btn btn-outline-primary me-2" >Try it Now!!</button>
        </form>


        <!-- <a href="#" class="icon-link">
          Try it Now!!
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a> -->
      </div>
      <div class="feature col" data-aos="fade-right" data-aos-delay="90">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href=""></use></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Emoji Map</h3>
        <p>Cant Express Yourself in words? Tell us how you feel using your most recently used Emojis!!</p>
        <a href="#" class="icon-link">
          Try it Now!!
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
